#top {
  padding-top: 50px;
  min-height: 100vh;
  background-color: red;
}
#logo {
  padding-top: 15vh;
  padding-bottom: 15vh;
}
#portfolio {
  padding-top: 5vh;
  min-height: 100vh;
  background-color: blue;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5vh;
}

#portfolioHeader {
 color: white;
}

#contactHeader {
 color: black;
}

#contact {
  padding-top: 5vh;
  min-height: 100vh;
  background-color: grey;  
}

#button-row {
  min-height: 30vh;
}