#top {
  padding-top: 10vh;
  background-color: red;
  padding-bottom: 10vh;
}
#logo{
  max-height: 100vh;
}
#portfolio {
  padding-top: 5vh;
  min-height: 100vh;
  background-color: blue;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5vh;
}

#portfolioHeader {
 color: white;
font-family: 'Courgette', cursive;
font-size: 4em;
font-weight: bold;
}

#contactHeader {
 color: black;
font-family: 'Courgette', cursive;
font-size: 4em;
font-weight: bold;
}

#contact {
  padding-top: 5vh;
  min-height: 100vh;
  background-color: grey;  
}

#button-row {
  min-height: 30vh;
}