.navbar {
    background: rgba(0,0,0,.6);
}

.nav.navbar-nav li a {
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courgette', cursive;
}

.navbar-brand {
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.btm-anchored{
    position:fixed;
    bottom:0px;
}

.btm-bttn{
    position:absolute;
    bottom:0vh;
}
.side-bttn{
    position:absolute;
	left:30vw;
	bottom:30vh;
	top:20vh;
	right:10vw;
	font-size:6vw;
}
.caption{
	font-size: large;
	min-height: 30vh;
	padding-bottom: 20px;
	background-color: #F5F5F5;
}

.thumbnail{
	background-color: #F5F5F5;
	min-height:65vh;
}

#portfolioBox{
	background-color: white;
}

#top {
  padding-top: 10vh;
  background-color: white;
}

#logo{
  max-height: 50vh;
}

#portfolio {
  min-height: 100vh;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5vh;
}

#portfolioHeader {
 color: black;
font-family: 'Courgette', cursive;
font-size: xx-large;
font-weight: bold;
}

#portfolioBody {
 color: black;
font-family: 'Courgette', cursive;
font-size: x-large;
font-weight: bold;
}

#contactHeader {
 color: black;
font-family: 'Courgette', cursive;
font-size: xx-large;
font-weight: bold;
}

#contactBody {
 color: black;
font-size: large;
padding-left: 4vw;
padding-right: 4vw;
}

#contact {
  padding-top: 5vh;
  min-height: 120vh;
  background-color: white;  
}

#button-row {
  min-height: 30vh;
}